<div [ngClass]="{'rtl-direction' : isRtl}" >
  <div class="dialog-heading-div" [ngClass]="{'text-right': isRtl}" appDraggableDialog>
    <span class="page-title"  [ngClass]="isRtl ? 'mr-4' : 'ml-4'"> {{ dialogHeader | translate }}</span>
  </div>
  <mat-dialog-content class="mat-typography" [ngClass]="{'text-right': isRtl}"
  [style.maxHeight]="dialogHeader == 'ASSIGN_TO_CEO'   ? '200px' : null" [style.minHeight]="dialogHeader == 'ASSIGN_TO_CEO'  ? '180px' : null"
  [ngStyle]="dialogHeader == 'REMOVE_THIS_OBSERVATION_DECLINE_BY_DEPARTMENT' ? {'width': '468px','height': '62px','overflow': 'hidden'}:{ 'overflow' :  dialogHeader == 'RECALL'  ? 'hidden' : ''} "
  [style.width]=" dialogHeader == 'CANCEL' || dialogHeader == 'REMOVE_THIS_OBSERVATION_DECLINE_BY_DEPARTMENT' || dialogHeader =='REMOVE_DEPARTMENT' || dialogHeader == 'RECALL'? '468px':null">
    <ng-container *ngIf="dialogHeader != 'INFORMATION' && dialogMessage != 'ARE_YOU_SURE_UPDATE_OBSERVATION_TYPE' ">
      <h3 class="mt-3"
       *ngIf="dialogHeader != 'SEND_BACK_FOR_CORRECTION' && dialogHeader != 'COMPLETE_LAUNCHING' && 
       dialogHeader != 'ASSIGN_TO_CEO' &&  dialogHeader != 'RECALL' && dialogHeader !='REMOVE_THIS_OBSERVATION_DECLINE_BY_DEPARTMENT' &&
       dialogHeader != 'CANCEL' && dialogHeader != 'REMOVE_DEPARTMENT'"

       [ngClass]="dialogHeader == 'REASSIGN_DEPARTMENT' || dialogHeader == 'ADD_DEPARTMENT' ? 'font-weight-600' :''">
        {{ dialogMessage | translate }}       
      </h3>
    </ng-container>
    <ng-container *ngIf="dialogHeader == 'Update New/Repeated'">
      <div class="mt-3" > {{ dialogMessage | translate }}<b> {{ data.type | translate}} </b></div>
    </ng-container>
    <ng-container *ngIf="dialogHeader == 'INFORMATION'">
      <div class="mt-3" > {{ dialogMessage | translate }}</div>
    </ng-container>
    <ng-container *ngIf="dialogHeader == 'REMOVE_THIS_OBSERVATION_DECLINE_BY_DEPARTMENT'">
      <div class="mt-3" > {{ dialogMessage | translate }}</div>
    </ng-container>
    <ng-container *ngIf="dialogHeader == 'COMPLETE_LAUNCHING'">
      <div class="mt-3" > {{ dialogMessage | translate }} <b>{{data.reportCycle}}</b> ?</div>
    </ng-container>
    <ng-container *ngIf="dialogHeader == 'ASSIGN_TO_CEO'">
      <div class="mt-3" > {{ dialogMessage | translate }} <b>{{data.reportCycle}}</b></div>
    </ng-container>

    <ng-container *ngIf="dialogHeader == 'RECALL'">
      <div class="mt-3" > {{ dialogMessage | translate }} <b>{{data.name}}</b> ?</div>
    </ng-container>
    

    <ng-container *ngIf="dialogHeader == 'CANCEL' || dialogHeader == 'REMOVE_DEPARTMENT'">
      <div class="mt-3" > {{ dialogMessage | translate }} <b>{{data.name}}</b> ? </div>
    </ng-container>

    <ng-container *ngIf="dialogHeader == 'REASSIGN_DEPARTMENT' || dialogHeader == 'ADD_DEPARTMENT'">

     <div class="row w-600">
       <div class="col-1 align-icon">
        <mat-icon class="text-danger">warning</mat-icon>
       </div>
       <div class="col-10">
        <p class="page-sub-title font-weight-normal mb-0" *ngIf="dialogHeader == 'REASSIGN_DEPARTMENT'">{{ 'IF_YOU_CHOOSE_TO_REASSIGN_OBSERVATION_WILL_BE_REMOVED_FROM_CURRENT_DEPARTMENT_AND_WILL_BE_ASSIGN_TO_SELECTED_DEPARTMENT' | translate }}</p>
        <p class="page-sub-title font-weight-normal mb-0" *ngIf="dialogHeader == 'ADD_DEPARTMENT'">{{ 'IF_YOU_CHOOSE_TO_ADD_OBSERVATION_WILL_REMAIN_WITH_CURRENT_DEPARTMENT_AND_IT_WILL_BE_SHARED_WITH_SELECTED_DEPARTMENT' | translate }}</p>
       </div>
     </div>
    </ng-container>

    <div class="mt-2"
      *ngIf="!(dialogHeader == 'Update Job Title' ||dialogHeader == 'Update New/Repeated' || dialogHeader == 'CANCEL' || dialogHeader == 'REMOVE_THIS_OBSERVATION_DECLINE_BY_DEPARTMENT' || dialogHeader == 'REMOVE_DEPARTMENT' || dialogHeader == 'Edit Response' || dialogHeader == 'REVIEWED' || dialogHeader == 'INFORMATION' || dialogHeader =='DELETE' || dialogHeader == 'COMPLETE_LAUNCHING' || dialogHeader == 'GENERATE_REPORT' || dialogHeader == 'DIRECT_REPORT' || dialogHeader == 'ADD_DEPARTMENT' || dialogHeader == 'REASSIGN_DEPARTMENT'|| dialogHeader == 'ADD_DEPARTMENT' || dialogHeader == 'RECALL' || dialogHeader == 'EDIT_OBSERVATION' )">
      <label class="page-sub-title mb-0"     style="margin-top: 5px;"
      >{{ 'COMMENT' | translate }} <span *ngIf="dialogHeader =='ASSIGN_TO_CEO' || dialogHeader == 'RECALL'" class="required">* </span> :</label>
    </div>
    <mat-form-field class="mt-n2 w-100 text-right border-textarea h-120"
    *ngIf="!(dialogHeader == 'Update Job Title'||dialogHeader == 'Update New/Repeated' || dialogHeader == 'CANCEL'|| dialogHeader == 'REMOVE_THIS_OBSERVATION_DECLINE_BY_DEPARTMENT' || dialogHeader == 'REMOVE_DEPARTMENT' || dialogHeader == 'Edit Response' || dialogHeader == 'REVIEWED' || dialogHeader == 'INFORMATION'  || dialogHeader =='DELETE'  || dialogHeader == 'COMPLETE_LAUNCHING' || dialogHeader == 'GENERATE_REPORT' || dialogHeader == 'DIRECT_REPORT'  || dialogHeader == 'REASSIGN_DEPARTMENT' || dialogHeader == 'ADD_DEPARTMENT' || dialogHeader == 'RECALL'  || dialogHeader == 'EDIT_OBSERVATION')">
     
      <textarea matInput [(ngModel)]="comment" [matTextareaAutosize]=true [matAutosizeMinRows]=3 [matAutosizeMaxRows]=5
        #message maxlength="256"></textarea>
      <mat-hint align="end">{{message.value.trim().length}} / 256</mat-hint>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <ng-container *ngIf="dialogHeader != 'INFORMATION'">
      <button mat-raised-button mat-dialog-close>{{ 'NO' | translate }}</button>
      <button mat-raised-button color="primary" (click)="onClickYes()" [ngClass]="{'ml-0 mr-2' : isRtl}"
        [disabled]="comment.length === 0 || comment.trim() == ''"
        *ngIf="!( dialogHeader == 'Update Job Title'|| dialogHeader == 'Update New/Repeated' || dialogHeader == 'CANCEL' || dialogHeader =='ASSIGN_TO_CEO' || dialogHeader == 'REMOVE_THIS_OBSERVATION_DECLINE_BY_DEPARTMENT' || dialogHeader == 'REMOVE_DEPARTMENT' || dialogHeader == 'Edit Response' || (dialogHeader == 'REVIEWED' && dialogMessage =='ARE_YOU_SURE_YOU_REVIEWED_OBSERVATIONS') || dialogHeader == 'DELETE' || dialogHeader == 'COMPLETE_LAUNCHING' || dialogHeader == 'GENERATE_REPORT' || dialogHeader == 'DIRECT_REPORT' || dialogHeader == 'ADD_DEPARTMENT' || dialogHeader == 'REASSIGN_DEPARTMENT'|| dialogHeader == 'RECALL' || dialogHeader == 'EDIT_OBSERVATION')">
        {{ 'YES' | translate }}
      </button>
      <button mat-raised-button color="primary" (click)="onClickYes()" [ngClass]="{'ml-0 mr-2' : isRtl}"
        *ngIf="dialogHeader == 'Update Job Title'||dialogHeader == 'Update New/Repeated' || dialogHeader == 'CANCEL' || dialogHeader == 'REMOVE_THIS_OBSERVATION_DECLINE_BY_DEPARTMENT' || dialogHeader == 'REMOVE_DEPARTMENT' || dialogHeader == 'Edit Response' || (dialogHeader == 'REVIEWED' && dialogMessage !='ARE_YOU_SURE_YOU_REVIEWED_OBSERVATIONS') || dialogHeader == 'DELETE' || dialogHeader == 'RECALL'  || dialogHeader == 'EDIT_OBSERVATION' "  >
        {{ 'YES' | translate }}
      </button>
      <button mat-raised-button color="primary" (click)="onClickYes()" [ngClass]="{'ml-0 mr-2' : isRtl}"
      [disabled]="(comment.length === 0 || comment.trim() == '') && dialogHeader =='ASSIGN_TO_CEO' "
        *ngIf=" dialogHeader == 'COMPLETE_LAUNCHING' || dialogHeader =='ASSIGN_TO_CEO' || dialogHeader == 'GENERATE_REPORT' || dialogHeader == 'DIRECT_REPORT' || dialogHeader == 'ADD_DEPARTMENT' || dialogHeader == 'REASSIGN_DEPARTMENT' || dialogMessage =='ARE_YOU_SURE_YOU_REVIEWED_OBSERVATIONS'">
        {{ 'YES' | translate }}
      </button>
    </ng-container>
    <ng-container *ngIf="dialogHeader == 'INFORMATION'">
      <button mat-raised-button mat-dialog-close class="b-blue c-white">{{ 'OK' | translate }}</button>
    </ng-container>
  </mat-dialog-actions>
</div>
