/* unchanged selectors, merely moved from .css → .scss */
.show-mob {
  display: none;
}

.dialog-heading-div {
  padding: 15px 0;
  margin: 0 -24px;
  background: #3253ab;
  color: #fff;
}

.gen-comment-toolbar {
  height: 50px;
  font-size: 15px;
  padding: 0 24px;
}

tr.mat-header-row {
  height: unset;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-header-cell {
  font-size: 14px;
  font-weight: 600;
}

table {
  width: 100%;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
  padding-left: 10px !important;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type {
  padding-right: 10px !important;
}

th.mat-header-cell,
td.mat-cell {
  padding: 10px !important;
}

.title-td {
  font-weight: 600;
  display: inline-block;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0 0 20px;
}

.expanded-td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.expanded-div {
  margin-left: 24px;
  margin-top: -15px;
  margin-bottom: 10px;
}

.expanded-div-rtl {
  margin-right: 3%;
  margin-top: -15px;
  margin-bottom: 10px;
}

.expanded-content {
  display: inline-block;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.w-30 {
  width: 30px !important;
}
.w-90 {
  width: 90%;
}

@media (max-width: 991px) {
  .hide-mob {
    display: none;
  }
  .show-mob {
    display: block;
  }
  tr.mat-header-row {
    border-top: unset;
  }
  th.mat-header-cell,
  td.mat-cell {
    border-bottom: unset;
    padding: unset !important;
  }
}

@media (max-width: 575px) {
  .title-td,
  .expanded-content {
    width: 150px;
  }
}
