.dialog-heading-div {
  padding: 15px 0 15px 0px;
  margin: 0 -24px 0 -24px;
  background: #3253ab;
  color: #ffffff;
}
.close-button {
  cursor: pointer;
  top: 7px;
  position: absolute;
  right: 4px;
  font-size: 13px;
}