<div class="container-flud" (window:resize)="onResize($event)">
  <mat-card class="main-card">
    <div class="row">
      <div class="col-12" [ngClass]="{'text-right': isRtl}">
        <mat-icon class="bread-page-heading-icon">send</mat-icon>
        <span class="page-heading">{{ 'SEND_ITEMS' | translate }} <span style="font-size:16px ;"> ({{dataSource ? dataSource.data.length : 0}}) </span></span>
      </div>
      <!--
      <div class="col-12 mt-2">
        <p class="font-weight-bold">{{'THIS_IS_THE_RESPONSE_THAT_YOU_HAVE_SUBMITTED,_AND_IT_MAY_BE_SUBJECT_TO_CHANGE_THROUGHOUT_THE_COURSE_OF_THE_APPROVAL_CYCLE._THE_FINAL_REPLY_WILL_APPEAR_IN_SEARCH_PAGE,_ONCE_OBSERVATION_IS_APPROVED_BY_G&PA' | translate}}</p>
      </div> -->
    </div>
    <div class="row" *ngIf="!isLoading">
      <div class="col-12 mt-3">
        <div class="row">
          <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-1">
            <mat-form-field class="w-100" [ngClass]="{'text-right': isRtl}">
              <mat-label [ngClass]="isRtl ? 'main-label-rtl' : 'main-label'">{{ 'TYPE' | translate }}</mat-label>
              <mat-select [formControl]="typeData" multiple>
                <mat-select-trigger>
                  {{typeData.value ? typeData.value[0] : ''}}
                  <span *ngIf="typeData.value?.length > 1 && typeData.value[0] != 'All'">
                    (+{{typeData.value.length - 1}} {{typeData.value?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let type of typeList" [value]="type" (onSelectionChange)="typeChange($event);"
                  [ngClass]="{'rtl-direction text-right': isRtl}">
                  <span *ngIf="type == 'All'">{{type}}</span>
                  <span>
                    <i class="fa fa-certificate text-success" aria-hidden="true" *ngIf="type == 'N'">
                      <span class="px-2">N</span>
                    </i>
                    <i class="fa fa-certificate c-violet" aria-hidden="true" *ngIf="type == 'SO'">
                      <span class="px-2">SO</span>
                    </i>
                    <i class="fa fa-certificate text-primary" aria-hidden="true" *ngIf="type == 'Rt'">
                      <span class="px-2">Rt</span>
                    </i>
                    <i class="fa fa-certificate text-warning" aria-hidden="true" *ngIf="type == 'Sb'">
                      <span class="px-2">Sb</span>
                    </i>
                    <i class="fa fa-check text-success" aria-hidden="true" *ngIf="type == 'C'">
                      <span class="px-2">C</span>
                    </i>
                  </span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-1">
            <mat-form-field class="w-100" [ngClass]="{'text-right': isRtl}">
              <mat-label [ngClass]="isRtl ? 'main-label-rtl' : 'main-label'">{{ 'SEQUENCE' | translate }}</mat-label>
              <mat-select [formControl]="sequenceData" multiple>
                <mat-select-trigger>
                  {{sequenceData.value ? sequenceData.value[0] : ''}}
                  <span *ngIf="sequenceData.value?.length > 1 && sequenceData.value[0] != 'All'">
                    (+{{sequenceData.value.length - 1}} {{sequenceData.value?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let sequence of sequenceList" [value]="sequence"
                  (onSelectionChange)="sequenceChange($event);" [ngClass]="{'rtl-direction text-right': isRtl}">
                  {{sequence}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-2">
            <mat-form-field class="w-100" [ngClass]="{'text-right': isRtl}">
              <mat-label [ngClass]="isRtl ? 'main-label-rtl' : 'main-label'">{{ 'DEPARTMENT' | translate }}</mat-label>
              <mat-select [formControl]="departmentData" multiple>
                <mat-select-trigger>
                  {{departmentData.value ? departmentData.value[0] : ''}}
                  <span *ngIf="departmentData.value?.length > 1 && departmentData.value[0] != 'All'">
                    (+{{departmentData.value.length - 1}} {{departmentData.value?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let department of departmentList" [value]="department"
                  (onSelectionChange)="departmentChange($event);" [ngClass]="{'rtl-direction text-right': isRtl}">
                  {{department}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-2">
            <mat-form-field class="w-100" [ngClass]="{'text-right': isRtl}">
              <mat-label [ngClass]="isRtl ? 'main-label-rtl' : 'main-label'">{{ 'STATUS' | translate }}</mat-label>
              <mat-select [formControl]="statusData" multiple>
                <mat-select-trigger>
                  {{statusData.value ? statusData.value[0] : ''}}
                  <span *ngIf="statusData.value?.length > 1 && statusData.value[0] != 'All'">
                    (+{{statusData.value.length - 1}} {{statusData.value?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let status of statusList" [value]="status"
                  (onSelectionChange)="statusChange($event);" [ngClass]="{'rtl-direction text-right': isRtl}">
                  {{status}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-2">
            <mat-form-field class="w-100" [ngClass]="{'text-right': isRtl}">
              <mat-label [ngClass]="isRtl ? 'main-label-rtl' : 'main-label'">{{ 'DIRECTORATE' | translate }}</mat-label>
              <mat-select [formControl]="directorateData" multiple>
                <mat-select-trigger>
                  {{directorateData.value ? directorateData.value[0] : ''}}
                  <span *ngIf="directorateData.value?.length > 1 && directorateData.value[0] != 'All'">
                    (+{{directorateData.value.length - 1}} {{directorateData.value?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let directorate of directorateList" [value]="directorate"
                  (onSelectionChange)="directorateChange($event);" [ngClass]="{'rtl-direction text-right': isRtl}">
                  {{directorate}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-2">
            <mat-form-field class="w-100" [ngClass]="{'text-right': isRtl}">
              <mat-label [ngClass]="isRtl ? 'main-label-rtl' : 'main-label'">{{ 'RESPOND_ON_BEHALF' | translate }}
              </mat-label>
              <mat-select [formControl]="onBehalfData" multiple>
                <mat-select-trigger>
                  {{onBehalfData.value ? onBehalfData.value[0] : ''}}
                  <span *ngIf="onBehalfData.value?.length > 1 && onBehalfData.value[0] != 'All'">
                    (+{{onBehalfData.value.length - 1}} {{onBehalfData.value?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let onBehalf of onBehalfList" [value]="onBehalf"
                  (onSelectionChange)="onBehalfChange($event);" [ngClass]="{'rtl-direction text-right': isRtl}">
                  {{onBehalf}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-2">
            <mat-form-field class="w-100" [ngClass]="{'text-right': isRtl}">
              <mat-label [ngClass]="isRtl ? 'main-label-rtl' : 'main-label'">
                {{ 'SEND_TO_MULTIPLE_DEPT' | translate }}</mat-label>
              <mat-select [formControl]="multipleData" multiple>
                <mat-select-trigger>
                  {{multipleData.value ? multipleData.value[0] : ''}}
                  <span *ngIf="multipleData.value?.length > 1 && multipleData.value[0] != 'All'">
                    (+{{multipleData.value.length - 1}} {{multipleData.value?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let multiple of multipleList" [value]="multiple"
                  (onSelectionChange)="multipleChange($event);" [ngClass]="{'rtl-direction text-right': isRtl}">
                  {{multiple}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-12 hide-mob over-auto" *ngIf="!isLoading && dataSource && dataSource.data.length > 0 && innerWidth > 1199">
        <table mat-table [dataSource]="dataSource" matSort [ngClass]="{'text-right': isRtl}">
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <span>
                <i class="fa fa-certificate text-success" aria-hidden="true" *ngIf="element.responseType == 'N'"
                  matTooltip="New" matTooltipPosition="above">
                  <span class="px-2">N</span>
                </i>
                <i class="fa fa-certificate c-violet" aria-hidden="true" *ngIf="element.responseType == 'SO'"
                  matTooltip="Sent Out" matTooltipPosition="above">
                  <span class="px-2">SO</span>
                </i>
                <i class="fa fa-certificate text-primary" aria-hidden="true" *ngIf="element.responseType == 'Rt'"
                  matTooltip="Responded To" matTooltipPosition="above">
                  <span class="px-2">Rt</span>
                </i>
                <i class="fa fa-certificate text-warning" aria-hidden="true" *ngIf="element.responseType == 'Sb'"
                  matTooltip="Sent Back" matTooltipPosition="above">
                  <span class="px-2">Sb</span>
                </i>
                <i class="fa fa-check text-success" aria-hidden="true" *ngIf="element.responseType == 'C'"
                  matTooltip="Completed" matTooltipPosition="above">
                  <span class="px-2">C</span>
                </i>
              </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="obsSeq">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'SEQ' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.obsSeq}} </td>
          </ng-container>
          <ng-container matColumnDef="obsTitle">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'OBSERVATION_TITLE' | translate }} </th>
            <td mat-cell *matCellDef="let element" [ngClass]="{'rtl-direction': !isRtl}"> {{element.obsTitle}} </td>
          </ng-container>
          <ng-container matColumnDef="sentDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'SENT_DATE' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.sentDate | date:'dd/MM/yyyy hh:mm'}} </td>
          </ng-container>
          <ng-container matColumnDef="reportName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'REPORT' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.reportName}} </td>
          </ng-container>
          <ng-container matColumnDef="deptName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'DEPARTMENT' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.deptName}} </td>
          </ng-container>
          <ng-container matColumnDef="responseStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'STATUS' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.responseStatus}} </td>
          </ng-container>
          <ng-container matColumnDef="directorate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'DIRECTORATE' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.directorateName}} </td>
          </ng-container>
          <ng-container matColumnDef="respondOnBehalf">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'RESPOND_ON_BEHALF' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.respondOnBehalf}} </td>
          </ng-container>
          <ng-container matColumnDef="sendToMultipleDepartment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'SEND_TO_MULTIPLE_DEPT' | translate }}
            </th>
            <td mat-cell *matCellDef="let element" [ngClass]="element.sentToMultipleDept === 'Yes' ? 'text-primary': ''" class="text-center"> {{element.sentToMultipleDept}} </td>
          </ng-container>
          <ng-container matColumnDef="pendingUser">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PENDING_USER' | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.pendingUser}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="cursor: pointer;"
            (click)="navigateTo(row)"></tr>
        </table>
        <!-- <mat-paginator [length]="dataSource.data.length" [pageSize]="10" [pageIndex]="pageIndex" hidePageSize
          showFirstLastButtons (page)="onPaginateChange($event)" dir="ltr">
        </mat-paginator> -->
      </div>
      <div class="col-12 show-mob" *ngIf="!isLoading && dataSource && dataSource.data.length > 0 && innerWidth <= 1199 &&  innerWidth > 575">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows [ngClass]="{'text-right': isRtl}">
          <ng-container matColumnDef="obsTitle">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="title-td"
              [ngClass]="isRtl ? 'title-td-rtl' : 'rtl-direction'">
              {{element.obsTitle}} </td>
          </ng-container>
          <ng-container matColumnDef="sentDate">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <span [ngClass]="isRtl ? 'float-left' : 'float-right'">{{element.sentDate}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="expandedDetail">
            <td class="expanded-td" mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsMob.length">
              <div class="row" [ngClass]="isRtl ? 'expanded-div-rtl' : 'expanded-div'">
                <div class="col-12" [ngClass]="{'pl-0' : isRtl}">
                  <span>{{element.reportName}}</span>
                  <span class="h-22">
                    <i class="fa fa-certificate text-success" aria-hidden="true" *ngIf="element.responseType == 'N'"
                      matTooltip="New" matTooltipPosition="above" [ngClass]="isRtl ? 'float-left' : 'float-right'">
                      <span class="px-2">N</span>
                    </i>
                    <i class="fa fa-certificate c-violet" aria-hidden="true" *ngIf="element.responseType == 'SO'"
                      matTooltip="Sent Out" matTooltipPosition="above" [ngClass]="isRtl ? 'float-left' : 'float-right'">
                      <span class="px-2">SO</span>
                    </i>
                    <i class="fa fa-certificate text-primary" aria-hidden="true" *ngIf="element.responseType == 'Rt'"
                      matTooltip="Responded To" matTooltipPosition="above"
                      [ngClass]="isRtl ? 'float-left' : 'float-right'">
                      <span class="px-2">Rt</span>
                    </i>
                    <i class="fa fa-certificate text-warning" aria-hidden="true" *ngIf="element.responseType == 'Sb'"
                      matTooltip="Sent Back" matTooltipPosition="above"
                      [ngClass]="isRtl ? 'float-left' : 'float-right'">
                      <span class="px-2">Sb</span>
                    </i>
                    <i class="fa fa-check text-success" aria-hidden="true" *ngIf="element.responseType == 'C'"
                      matTooltip="Completed" matTooltipPosition="above"
                      [ngClass]="isRtl ? 'float-left' : 'float-right'">
                      <span class="px-2">C</span>
                    </i>
                  </span>
                </div>
                <div class="col-12" [ngClass]="{'pl-0' : isRtl}">
                  {{element.deptName}}
                  <span [ngClass]="isRtl ? 'sequence-mob-rtl' : 'sequence-mob'">{{ 'SEQ' | translate }}: {{element.obsSeq}}</span>
                </div>
                <div class="col-12">{{element.responseStatus}}</div>
                <div class="col-12">{{element.directorateName}}</div>
                <div class="col-12">
                  <span>{{ 'RESPOND_ON_BEHALF' | translate }}:</span> {{element.respondOnBehalf}}
                </div>
                <div class="col-12">
                  <span>{{ 'SEND_TO_MULTIPLE_DEPT' | translate }}:</span> {{element.sentToMultipleDept}}
                </div>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsMob; sticky: true"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumnsMob;" style="cursor: pointer;"
            (click)="navigateTo(element)"></tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" (click)="navigateTo(row)"></tr>
        </table>
        <!-- <mat-paginator [length]="dataSource.data.length" [pageSize]="10" [pageIndex]="pageIndex" hidePageSize
          showFirstLastButtons (page)="onPaginateChange($event)" dir="ltr">
        </mat-paginator> -->
      </div>
      <div class="col-12 show-small-mob" *ngIf="!isLoading && dataSource && dataSource.data.length > 0 && innerWidth <= 575">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows [ngClass]="{'text-right': isRtl}">
          <ng-container matColumnDef="obsTitle">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="title-td"
              [ngClass]="isRtl ? 'title-td-rtl' : 'rtl-direction'">
              {{element.obsTitle}} </td>
          </ng-container>
          <ng-container matColumnDef="expandedDetail">
            <td class="expanded-td" mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsSmallMob.length">
              <div class="row" [ngClass]="isRtl ? 'expanded-div-rtl' : 'expanded-div'">
                <div class="col-12">
                  <span>{{element.sentDate}}</span>
                </div>
                <div class="col-12 h-22">
                  <span>
                    <i class="fa fa-certificate text-success" aria-hidden="true" *ngIf="element.responseType == 'N'"
                      matTooltip="New" matTooltipPosition="above">
                      <span class="px-2">N</span>
                    </i>
                    <i class="fa fa-certificate c-violet" aria-hidden="true" *ngIf="element.responseType == 'SO'"
                      matTooltip="Sent Out" matTooltipPosition="above">
                      <span class="px-2">SO</span>
                    </i>
                    <i class="fa fa-certificate text-primary" aria-hidden="true" *ngIf="element.responseType == 'Rt'"
                      matTooltip="Responded To" matTooltipPosition="above">
                      <span class="px-2">Rt</span>
                    </i>
                    <i class="fa fa-certificate text-warning" aria-hidden="true" *ngIf="element.responseType == 'Sb'"
                      matTooltip="Sent Back" matTooltipPosition="above">
                      <span class="px-2">Sb</span>
                    </i>
                    <i class="fa fa-check text-success" aria-hidden="true" *ngIf="element.responseType == 'C'"
                      matTooltip="Completed" matTooltipPosition="above">
                      <span class="px-2">C</span>
                    </i>
                  </span>
                </div>
                <div class="col-12">
                  <span [ngClass]="isRtl ? 'sequence-mob-rtl' : 'sequence-mob'">{{ 'SEQ' | translate }}: {{element.obsSeq}}</span>
                </div>
                <div class="col-12">
                  <span>{{element.reportName}}</span>
                </div>
                <div class="col-12">{{element.deptName}}</div>
                <div class="col-12">{{element.responseStatus}}</div>
                <div class="col-12">{{element.directorateName}}</div>
                <div class="col-12">
                  <span>{{ 'RESPOND_ON_BEHALF' | translate }}:</span> {{element.respondOnBehalf}}
                </div>
                <div class="col-12">
                  <span>{{ 'SEND_TO_MULTIPLE_DEPT' | translate }}:</span> {{element.sentToMultipleDept}}
                </div>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsSmallMob; sticky: true"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumnsSmallMob;" style="cursor: pointer;"
            (click)="navigateTo(element)"></tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" (click)="navigateTo(row)"></tr>
        </table>
        <!-- <mat-paginator class="inbox-paginator" [length]="dataSource.data.length" [pageSize]="10" [pageIndex]="pageIndex"
          hidePageSize showFirstLastButtons (page)="onPaginateChange($event)" dir="ltr">
        </mat-paginator> -->
      </div>
      <div class="col-12 d-none" *ngIf="!isLoading && dataSource && dataSource.data.length > 0 ">
        <mat-paginator  [length]="dataSource.data.length" [pageSize]="1000" [pageIndex]="pageIndex"
        hidePageSize showFirstLastButtons (page)="onPaginateChange($event)" dir="ltr">
      </mat-paginator>
      </div>
    </div>
    <div class="row center-block">
      <div class="center mt-5" *ngIf="!isLoading && dataSource && dataSource.data.length == 0">
        <mat-icon class="center-icon">cloud_queue</mat-icon>
        <span class="center-text">{{ 'NO_DATA' | translate }}</span>
      </div>
    </div>
  </mat-card>
</div>
