table {
    width: 100%;
}

tr.mat-mdc-header-row {
    height: unset;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, .12);
}

.mat-mdc-header-cell {
    font-size: 14px;
    font-weight: 600;
    color: unset;
}

th.mat-mdc-header-cell:first-of-type,
td.mat-mdc-cell:first-of-type,
td.mat-mdc-footer-cell:first-of-type {
    padding-left: 10px !important;
}

th.mat-mdc-header-cell:last-of-type,
td.mat-mdc-cell:last-of-type,
td.mat-mdc-footer-cell:last-of-type {
    padding-right: 10px !important;
}

th.mat-mdc-header-cell,
td.mat-mdc-cell,
td.mat-mdc-footer-cell {
    padding: 10px !important;
}


.attachment {
    position: absolute;
    right: 20px;
}

.attachment-rtl {
    position: absolute;
    left: 20px;
}


@media(max-width: 1199px) {
    .hide-tablet {
        display: none;
    }

    .hide-mob {
        display: block;
    }
}


@media(max-width: 767px) {
    .hide-mob {
        display: none;
    }

    .show-mob {
        display: block;
    }

    tr.mat-mdc-header-row {
        height: unset;
        border-top: unset;
    }

    th.mat-mdc-header-cell,
    td.mat-mdc-cell,
    td.mat-mdc-footer-cell {
        border-bottom: unset;
    }

    th.mat-mdc-header-cell,
    td.mat-mdc-cell,
    td.mat-mdc-footer-cell {
        padding: unset !important;
    }

}
