<div [ngClass]="{'rtl-direction' : isRtl}" >
    <div class="dialog-heading-div" [ngClass]="{'text-right': isRtl}" appDraggableDialog>
        <span class="page-title" [ngClass]="isRtl ? 'mr-4' : 'ml-4'">{{ 'EXPORT_OPTIONS' | translate }}</span>
    </div>
    <mat-dialog-content class="mat-typography" [ngClass]="{'text-right': isRtl}">
        <mat-radio-group aria-labelledby="choice-label" class="choice-radio-group" [(ngModel)]="selectedChoice">
            <mat-radio-button class="choice-radio-button" *ngFor="let choice of choices" [value]="choice"
                color="primary" (change)="selectionChange()">
                {{choice.name | translate }}
            </mat-radio-button>
        </mat-radio-group>
        <ul *ngIf="selectedChoice.value == 'Selected Columns'">
            <li *ngFor="let columnName of columnsName">
                <mat-checkbox [(ngModel)]="columnName.isChecked" color="primary" (change)="checkColumnChecked()">
                    <span [ngClass]="{'pr-2' : isRtl}">{{ columnName.name | translate }}</span>
                </mat-checkbox>
            </li>
        </ul>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close>{{ 'CLOSE' | translate }}</button>
        <button mat-raised-button class="b-blue c-white" [ngClass]="{'ml-0 mr-2' : isRtl}" matTooltip="{{ 'تحويل الملف إلى MS Word' }}" (click)="onExport()"
            [disabled]="!isColumnChecked">
            {{ 'EXPORT' | translate }}</button>
    </mat-dialog-actions>
</div>