
.mat-dialog-content.custom-height{
    height:170px;
}
.h-120{
    min-height: 120px;
}

.w-75 {
    width: 75%;
}
.w-95 {
width: 95.5%;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.ml-6 {
    margin-left: 4rem  !important;
}

.ml-02 {
    margin-left: 0.2rem!important;
}


