.show-mob {
    display: none;
  }
  
  .dialog-heading-div {
    padding: 15px 0 15px 0px;
    margin: 0 -24px 0 -24px;
    background: #3253ab;
    color: #ffffff;
  }
  
  .mat-expansion-panel-header.mat-expanded,
  .mat-expansion-panel-header.mat-expanded:hover,
  .mat-expansion-panel-header.mat-expanded:focus {
    background-color: #5979cf;
    height: 50px;
    border-radius: unset;
  }
  
  .mat-expanded .mat-expansion-panel-header-title {
    color: #FFFFFF;
  }
  
  table {
    width: 100%;
  }
  
  tr.mat-header-row {
    height: unset;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, .12);
  }
  
  .mat-header-cell {
    font-size: 14px;
    font-weight: 600;
    color: unset;
  }
  
  th.mat-header-cell:last-of-type,
  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type {
    padding-right: 10px !important;
  }
  
  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    padding: 10px !important;
  }
  
  .gen-comment-toolbar {
    height: 50px;
    font-size: 15px;
    padding: 0 24px;
  }
  
  .title-td {
    font-weight: 600;
    display: inline-block;
    width: 250px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    margin: 10px 0 0 13px;
  }
  
  .expanded-td {
    border-bottom: 1px solid rgba(0, 0, 0, .12) !important;
  }
  
  .expanded-div {
    margin-top: -15px;
    margin-bottom: 10px;
    padding: 0 0 0 10%;
  }

  .w-35 {
    width: 35px;
  }
  
  .w-90 {
    width: 90%;
  }
  
  .rtl-direction th.mat-header-cell {
    text-align: right !important;
  }
  
  
  @media(max-width: 767px) {
    .hide-mob {
      display: none;
    }
  
    .show-mob {
      display: block;
    }
  
    tr.mat-header-row {
      height: unset;
      border-top: unset;
    }
  
    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
      border-bottom: unset;
    }
  
    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
      padding: unset !important;
    }
  
    th.mat-header-cell:first-of-type,
    td.mat-cell:first-of-type,
    td.mat-footer-cell:first-of-type {
      padding-left: 10px !important;
    }
  
    .rtl-direction th.mat-header-cell:first-of-type,
    .rtl-direction td.mat-cell:first-of-type,
    .rtl-direction td.mat-footer-cell:first-of-type {
      padding-left: 0px !important;
      padding-right: 10px !important;
    }
  
    th.mat-header-cell:last-of-type,
    td.mat-cell:last-of-type,
    td.mat-footer-cell:last-of-type {
      padding-right: unset !important;
    }
  
    .rtl-direction .title-td {    
      margin: 10px 13px 0 0 !important;
    }
  
    .rtl-direction .expanded-div {
      padding: 0 10% 0 0 !important;
    }
  }