.mat-header-cell {
  font-size: 14px;
  font-weight: 600;
  color: unset;
}

.dialog-heading-div {
  padding: 15px 0;
  margin: 0 -24px;
  background: #3253ab;
  color: #ffffff;
}

.close {
  float: right;
  margin-top: 4px;
  margin-right: 10px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

.close-rtl {
  margin-top: 4px;
  margin-left: 10px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}
