<div [ngClass]="{'rtl-direction' : isRtl}">
  <div class="dialog-heading-div" [ngClass]="{'text-right': isRtl}" appDraggableDialog>
    <span class="page-title" [ngClass]="isRtl ? 'mr-4' : 'ml-4'">{{ 'SEND_RESPONSE' | translate }}</span>
  </div>
  <mat-dialog-content class="mat-typography hide-x" [ngClass]="{'text-right': isRtl}">
    <div class="row mt-4">
      <div class="col-12">
        <p class="page-sub-title" >{{'SABREQUEST' |translate}} :</p>  
        <p class="rtl-direction text-justify" *ngIf="responseData.sabRequest" [innerHTML]="responseData.sabRequest | safeHtml"></p>
        <p class="page-sub-title" *ngIf="responseData.sabCommentary">{{'SABCOMMENTARY' |translate}} :</p>  
        <p class="rtl-direction text-justify sab-commentary" *ngIf="responseData.sabCommentary" [innerHTML]="responseData.sabCommentary | safeHtml"></p>
      </div>
    </div>
    <div class="mt-3">
      <label class="page-sub-title">{{ 'RESPONSE_COMMENT' | translate }} :</label>
    </div>
    <div>
      <ckeditor [config]="config" [(ngModel)]="model.editorData" [editor]="Editor" (change)="change(model.editorData)">
      </ckeditor>
    </div>
    <!-- <div class="mt-3" *ngIf="reportCycle != 'KNPC Response Report' && reportCycle != 'SAB Quarterly Report Q2'"> -->
    <ng-container *ngIf="reportCycle != 'KNPC Response Report'">
      <!-- *ngIf="reportCycle != 'KNPC Response Report'" -->
      <div class="mt-3 row">
        <div class="col-12 ">
          <label class="page-sub-title">{{ 'COMPLETION_YEAR' | translate }} <span class="required">*</span>:</label>
          <mat-form-field [ngClass]="isRtl ? 'mr-2' : 'ml-2'">
            <mat-select [(ngModel)]="date"  (selectionChange)="dateChange()">
              <mat-option *ngFor="let year of fiscaalYear" [value]="year.date" (click)="checkSelected(year.date)"
                [ngClass]="{'rtl-direction text-right': isRtl}">
                {{ year.date }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          
            <!-- <span class="ms-auto" *ngIf="isPreviouseDataPresent && reportCycle != 'KNPC Response Report'" 
                 >
              
              <button mat-button  
                style="background-color: #FFFFFF;position: absolute;right: 0px;top: 4px; border-radius: 0px;" 
                (click)="previousEntityDialog()"  matTooltip="{{ 'PREVIOUS_CYCLE_COMPLETTION_YEAR_DETAILS' | translate }}">
                  <img src="assets/images/calendar.png" style="width:25px ;"/>
                </button>
            </span> -->
          
        </div>
        <div class="col-12">
          <span class="ms-auto" *ngIf="isPreviouseDataPresent && reportCycle != 'KNPC Response Report'" >           
            <a  href="javascript:;" class="h-t-decoration-n"
              
              (click)="previousEntityDialog()" matTooltip="{{ 'PREVIOUS_CYCLE_COMPLETTION_YEAR_DETAILS' | translate }}"> 
              
                <span >{{'PREVIOUS_CLASSIFICATION' | translate}}</span>
          </a>
          </span>
        </div>
        
        <div class="col-12 col-md-12 d-flex" >
          <!-- *ngIf="date == 'تتعلق بجهات حكومية/اخرى' && !isDateFieldSelected" -->
          <ng-container *ngIf="date == 'تتعلق بجهات حكومية/اخرى' && !isDateFieldSelected">
            <div class="mt-3 float-left" [ngClass]="{'text-right': isRtl}">
              <label class="page-sub-title">{{ 'GOVT_ENTITIES' | translate }}
                <span class="text-danger font-weight-bold">*</span>:</label>
            </div>
            <div class="float-left pl-2 c-weight">
              <div class="row mt-2 pt-1">
                <div class="col-12">
                  <ng-container *ngFor="let item of entities">
                    
                    <div class="chip" [ngStyle]="{'margin-left':entities.length > 1 ? '6px' :''  }" [ngClass]="entities.length > 1 ? 'mt-1' : ''">
                      <div class="chip-content"> {{item}}</div>
                      <div class="chip-close">
                        <svg class="chip-svg" (click)="remove(item)" focusable="false" viewBox="0 0 30 30" aria-hidden="true">
                          <path
                            d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z">
                          </path>
                        </svg>
      
                      </div>
                    </div>
                   
                  </ng-container>
                </div>
              </div>
              <mat-form-field class="text-right w-88" [ngClass]="isRtl ? 'mr-2' : 'ml-2'">
                <input matInput [(ngModel)]="govtEntity">
  
              </mat-form-field>
              <button  style="border: none; background: transparent" [ngClass]="govtEntity == '' ? 'cursor-disable': 'cursor-pointer'" class="ml-4" (click)="addChip(govtEntity)"
                [disabled]="(govtEntity == '')"><img style="width:30px;" src="assets/images/add-svg.svg" /></button>
  
            </div>
            <!-- <div class="float-left pl-0 c-weight" >
              <mat-form-field class="text-right w-100" [ngClass]="isRtl ? 'mr-2' : 'ml-2'">
                <input matInput [(ngModel)]="govtEntity">
              </mat-form-field>
            </div> -->
          </ng-container> 
          <!-- <span class="ms-auto" *ngIf="isPreviouseDataPresent && date == 'تتعلق بجهات حكومية/اخرى' && !isDateFieldSelected" style="float: right;margin-top: -51px;margin-right: -19px;">
            <button mat-button style="font-size: 18px; " (click)="previousEntityDialog()">
              <mat-icon>calendar_today</mat-icon>
            </button>
          </span>

          <span class="ms-auto" *ngIf="isPreviouseDataPresent && reportCycle != 'KNPC Response Report' && date != 'تتعلق بجهات حكومية/اخرى'" style="float: right;margin-top: 0px;margin-right: -19px;">
              <button mat-button style="font-size: 18px; " (click)="previousEntityDialog()">
                <mat-icon>calendar_today</mat-icon>
              </button>
            </span> -->
        </div>
       
        <!-- <div class="col-12 col-md-6 col-lg-6 col-xl-6" *ngIf="responseData.prevGovtEntity">
          <label class="page-sub-title">{{ 'PREVIOUS_GOVT_ENTITY' | translate }} :</label>
            <span>{{responseData.prevGovtEntity}} </span>
        </div> -->

      </div>
    </ng-container>


    <div class="mt-3" *ngIf="isAdmin && userInformation.attachmentEnabled">
      <nz-alert class="mb-2" nzType="error" nzMessage="{{ errorMessage | translate }}" nzShowIcon *ngIf="isFileError">
      </nz-alert>
      <button mat-raised-button class="b-blue c-white" onclick="document.getElementById('files').click()">
        {{ 'ATTACH_FILE' | translate }}</button>
      <input #userFile id="files" style="display:none" type="file" (change)="onFileSelected($event)"
        accept="application/pdf">
      <span class="page-sub-title d-inline-flex" [ngClass]="isRtl ? 'mr-2' : 'ml-2'"
        *ngIf="selectedFile && selectedFile.name">{{selectedFile.name}}
        <mat-icon class="cancel-btn" (click)="clearSelectedFile()">cancel</mat-icon>
      </span>
      <span class="page-sub-title" [ngClass]="isRtl ? 'mr-2' : 'ml-2'" *ngIf="!selectedFile">
        {{ 'NO_FILE_SELECTED' | translate }}</span>
    </div>
    <div class="mt-3" *ngIf="isAdmin && dataSource && dataSource.data.length > 0 ">
      <table mat-table [dataSource]="dataSource" class="hide-mob">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef [ngClass]="{'text-right': isRtl}"> {{ 'NAME' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="attachedBy">
          <th mat-header-cell *matHeaderCellDef [ngClass]="{'text-right': isRtl}"> {{ 'ATTACHED_BY' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.attachedBy}} </td>
        </ng-container>
        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef [ngClass]="{'text-right': isRtl}"> {{ 'DATE' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.createdDate | date}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef [ngClass]="{'text-right': isRtl}"></th>
          <td mat-cell *matCellDef="let element; let index = index;">
            <mat-icon class="pointer" (click)="downloadAttachment(element.docId)">description</mat-icon>
            <mat-icon class="text-danger pointer" (click)="deleteAttachment(element.docId, index)">delete</mat-icon>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <table mat-table [dataSource]="dataSource" class="show-mob" multiTemplateDataRows>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef [ngClass]="{'text-right': isRtl}"></th>
          <td mat-cell *matCellDef="let element">
            <span class="title-td">{{element.name}}</span>
            <mat-icon class="text-danger float-right pointer">delete</mat-icon>
            <mat-icon class="float-right pointer">description</mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="expandedDetail">
          <td class="expanded-td" mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsMob.length">
            <div class="row">
              <div class="col-12 expanded-content">{{element.attachedBy}}</div>
              <div class="col-12 expanded-content">{{element.createdDate | date}}</div>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsMob"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsMob;"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"></tr>
      </table>
    </div>
    <div class="mt-3">
      <mat-list role="list" class="rtl-direction">
        <mat-list-item role="listitem" class="note mb-1"><span class="text-underline note">إرشادات</span>:</mat-list-item>
        <mat-list-item role="listitem" class="note">1. تقديم الرد باللغة العربية.</mat-list-item>
        <mat-list-item role="listitem" class="note">2. تغطية جميع جزئيات طلب الديوان (وليس تفاصيل الملاحظة).
        </mat-list-item>
        <mat-list-item role="listitem" class="note">3. الرد يمثل الشركة وليس الدائرة.</mat-list-item>
    </mat-list>
    </div>
    <div class="">
      <label class="page-sub-title">{{ 'GENERAL_COMMENT' | translate }} :</label>
    </div>
    <div class="mt-n3 h-120">
      <mat-form-field class="w-100 text-right border-textarea">
        <textarea matInput [(ngModel)]="comment" [matTextareaAutosize]=true [matAutosizeMinRows]=3
          [matAutosizeMaxRows]=5 #message maxlength="256"></textarea>
        <mat-hint align="end">{{message.value.trim().length}} / 256</mat-hint>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <!-- <button mat-raised-button [ngClass]="isRtl ? 'draft-rtl' : 'draft'" (click)="onDraft()"
      [disabled]="model.editorData == ''">
      {{ 'SAVE_AS_DRAFT' | translate }}
    </button> -->
    <button mat-raised-button (click)="onDraft()" [disabled]="model.editorData == ''">
      {{ 'SAVE_AS_DRAFT' | translate }}
    </button>
    <button mat-raised-button mat-dialog-close>{{ 'CLOSE' | translate }}</button>
    <!-- [disabled]="(model.editorData == '' || ((date == 'تتعلق بجهات حكومية/اخرى' && reportCycle != 'KNPC Response Report' ) && (govtEntity.length == 0 || govtEntity.trim() == '')))" -->
    <button mat-raised-button class="b-blue c-white" (click)="onSendResponse()" [ngClass]="{'ml-0 mr-2' : isRtl}"
      [disabled]="(model.editorData == '' || (date == '' && reportCycle != 'KNPC Response Report')  ||  ((selectedDateString == 'تتعلق بجهات حكومية/اخرى' && !isDateFieldSelected) && (entities.length == 0 )))">
      {{ 'SEND' | translate }}</button>
  </mat-dialog-actions>
</div>