.show-mob {
    display: none;
  }
  
  
  .cancel-btn {
    margin: -2px 5px 0 5px;
    cursor: pointer;
  }
  
  .table-container {
    height: 300px;
    overflow: auto;
  }
  
  tr.mat-header-row {
    height: unset;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, .12);
  }
  
  .mat-header-cell {
    font-size: 14px;
    font-weight: 600;
    color: unset;
  }
  
  table {
    width: 100%;
  }
  
  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    padding-left: 10px !important;
  }
  
  th.mat-header-cell:last-of-type,
  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type {
    padding-right: 10px !important;
  }
  
  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    padding: 10px !important;
  }
  
  .expanded-td {
    border-bottom: 1px solid rgba(0, 0, 0, .12) !important;
  }
  
  .title-td {
    font-weight: 600;
    display: inline-block;
    /* width: 400px; */
    width: 340px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    margin: 10px 0 0 0;
  }
  
  .expanded-content {
    display: inline-block;
    width: 400px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
  
  .delete-mob {
    position: absolute;
    right: 10px;
  }
  
  .note {
    height: unset !important;
    font-weight: bold;
  }
  
  .div-classification {
    display: inline-flex;
    background: #dee2e6;
    padding: 2px;
    width: 125px;
  }
  
  @media(max-width: 767px) {
    .hide-mob {
      display: none;
    }
  
    .show-mob {
      display: block;
    }
  
    tr.mat-header-row {
      height: unset;
      border-top: unset;
    }
  
    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
      border-bottom: unset;
    }
  
    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
      padding: unset !important;
    }
  
    tr.mat-row, tr.mat-footer-row {
      height: 30px !important;
    }
  }
  
  @media(max-width: 575px) {
    .title-td {
      /* width: 200px; */
      width: 140px;
    }
  
    .expanded-content {
      width: 200px;
    }
  }
  