<div [ngClass]="{'rtl-direction' : isRtl}" >
    <div class="dialog-heading-div" [ngClass]="{'text-right': isRtl}" appDraggableDialog>
        <span class="page-title" [ngClass]="isRtl ? 'mr-4' : 'ml-4'">
            {{ 'ATTACHMENT(S)' | translate }}
        </span>
    </div>
    <mat-dialog-content class="mat-typography" [ngClass]="{'rtl-direction': isRtl}">
        <div class="row">
            <div class="col-12 mt-3" *ngIf="dataSource && dataSource.data.length > 0">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="name" class="pl-2 pr-2">
                        <th mat-header-cell *matHeaderCellDef class="w-300" [ngClass]="{'text-right': isRtl}"> {{ 'NAME' | translate
                            }}
                        </th>
                        <td mat-cell *matCellDef="let element" > {{element.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="attachedBy" class="pl-2 pr-2" >
                        <th mat-header-cell *matHeaderCellDef class="w-275" [ngClass]="{'text-right': isRtl}"> {{ 'ADDED_BY' |
                            translate
                            }} </th>
                        <td mat-cell *matCellDef="let element"> {{element.attachedBy}} </td>
                    </ng-container>
                    <ng-container matColumnDef="createdDate" class="pl-2 pr-2">
                        <th mat-header-cell *matHeaderCellDef [ngClass]="{'text-right': isRtl}"> {{ 'DATE' | translate
                            }}
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.createdDate | date}} </td>
                    </ng-container>
                    <ng-container matColumnDef="action" class="pl-2 pr-2">
                        <th mat-header-cell *matHeaderCellDef [ngClass]="{'text-right': isRtl}"></th>
                        <td mat-cell *matCellDef="let element; let index = index;">
                            <mat-icon class="pointer" (click)="downloadAttachment(element.docId)">description</mat-icon>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </mat-dialog-content>
</div>