<div [class.rtl-direction]="isRtl">
  <!-- ───────────── HEADER (draggable) ───────────── -->
  <div class="dialog-heading-div" [class.text-right]="isRtl" appDraggableDialog>
    <span class="page-title" [class.mr-4]="isRtl" [class.ml-4]="!isRtl">
      {{ "ATTACHMENT(S)" | translate }}
    </span>
  </div>

  <!-- ───────────────────── BODY ──────────────────── -->
  <mat-dialog-content class="mat-typography" [class.rtl-direction]="isRtl">
    <div class="row">
      <!-- data table -->
      <div class="col-12 mt-3" *ngIf="dataSource.data.length; else empty">
        <table mat-table [dataSource]="dataSource" matSort class="w-100">
          <!-- name -->
          <ng-container matColumnDef="name">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="w-300"
              [class.text-right]="isRtl"
              mat-sort-header
            >
              {{ "NAME" | translate }}
            </th>
            <td mat-cell *matCellDef="let row">{{ row.name }}</td>
          </ng-container>

          <!-- added by -->
          <ng-container matColumnDef="attachedBy">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="w-275"
              [class.text-right]="isRtl"
              mat-sort-header
            >
              {{ "ADDED_BY" | translate }}
            </th>
            <td mat-cell *matCellDef="let row">{{ row.attachedBy }}</td>
          </ng-container>

          <!-- date -->
          <ng-container matColumnDef="createdDate">
            <th
              mat-header-cell
              *matHeaderCellDef
              [class.text-right]="isRtl"
              mat-sort-header
            >
              {{ "DATE" | translate }}
            </th>
            <td mat-cell *matCellDef="let row">{{ row.createdDate | date }}</td>
          </ng-container>

          <!-- action -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <mat-icon class="pointer" (click)="downloadAttachment(row.docId)">
                description
              </mat-icon>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let r; columns: displayedColumns"></tr>
        </table>

        <!-- paginator -->
        <mat-paginator
          [pageSize]="10"
          [pageSizeOptions]="[10, 20, 50]"
          showFirstLastButtons
        ></mat-paginator>
      </div>

      <!-- empty-state -->
      <ng-template #empty>
        <div class="col-12 text-center mt-4 dot">
          {{ "NO_DATA" | translate }}
        </div>
      </ng-template>
    </div>
  </mat-dialog-content>
</div>
