.mat-dialog-content {
  min-width: 800px;
  min-height: 175px;
}

.mat-header-cell {
  font-size: 14px;
  font-weight: 600;
  color: unset;
}

table {
  width: 100%;
}

tr.mat-header-row {
  height: unset;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, 0.12);
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 10px !important;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 10px !important;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 10px !important;
}

@media (max-width: 767px) {
  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    border-bottom: unset;
    padding: unset !important;
  }
}
