<mat-card class="main-card">
  <!-- PAGE-HEADING -->
  <div class="row mb-3" [class.text-right]="isRtl()">
    <mat-icon class="bread-page-heading-icon">archive</mat-icon>
    <span class="page-heading">{{ "ARCHIVED_RESPONSE" | translate }}</span>
  </div>

  <!-- FILTERS -->
  <div class="row" [formGroup]="form">
    <!-- OBS TITLE -->
    <div class="col-12 col-xl-4">
      <mat-form-field class="w-100" [class.text-right]="isRtl()">
        <mat-label [ngClass]="isRtl() ? 'main-label-rtl' : 'main-label'">
          {{ "OBSERVATION_TITLE" | translate }}
        </mat-label>
        <input matInput formControlName="obsTitle" />
      </mat-form-field>
    </div>

    <!-- FISCAL YEAR -->
    <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
      <mat-form-field class="w-100" [class.text-right]="isRtl()">
        <mat-label [ngClass]="isRtl() ? 'main-label-rtl' : 'main-label'">
          {{ "FISCAL_YEAR" | translate }}
        </mat-label>
        <mat-select formControlName="selectedYear">
          @for (year of years; track year) {
          <mat-option
            [value]="year.value"
            [class.rtl-direction]="isRtl()"
            [class.text-right]="isRtl()"
          >
            {{ year.value }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <!-- SEQUENCE -->
    <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
      <mat-form-field class="w-100" [class.text-right]="isRtl()">
        <mat-label [ngClass]="isRtl() ? 'main-label-rtl' : 'main-label'">
          {{ "OBSERVATION_SEQUENCE" | translate }}
        </mat-label>
        <input
          matInput
          type="number"
          formControlName="obsSequence"
          min="0"
          (input)="form.controls.obsSequence.setValue(mathOBS)"
        />
      </mat-form-field>
    </div>

    <!-- ACTION BUTTONS -->
    <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
      <button
        mat-raised-button
        class="b-blue c-white"
        (click)="getObsData()"
        [class.float-left]="isRtl()"
        [class.float-right]="!isRtl()"
        [class.mr-2]="!isRtl()"
      >
        {{ "SEARCH" | translate }}
      </button>

      <button
        mat-raised-button
        (click)="reset()"
        [class.float-right]="!isRtl()"
        [class.mr-2]="!isRtl()"
      >
        {{ "RESET" | translate }}
      </button>
    </div>
  </div>

  <!-- DESKTOP TABLE -->
  @if (dataSource()!.data.length > 0) {
  <div class="col-12 mt-4 hide-mob" *ngIf="dataSource() as ds">
    <table mat-table [dataSource]="ds" matSort [class.text-right]="isRtl()">
      <!-- seq -->
      <ng-container matColumnDef="obsSequence">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [class.text-right]="isRtl()"
        >
          {{ "SEQUENCE" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.obsSequence }}</td>
      </ng-container>

      <!-- title -->
      <ng-container matColumnDef="obsTitle">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [class.text-right]="isRtl()"
        >
          {{ "OBSERVATION_TITLE" | translate }}
        </th>
        <td mat-cell *matCellDef="let row" [class.rtl-direction]="!isRtl()">
          {{ row.obsTitle }}
        </td>
      </ng-container>

      <!-- fiscal year -->
      <ng-container matColumnDef="reportYear">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [class.text-right]="isRtl()"
        >
          {{ "FISCAL_YEAR" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.reportYear }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        style="cursor: pointer"
        (click)="navigateTo(row)"
      ></tr>
    </table>
  </div>
  }

  <!-- MOBILE TABLE -->
  @if (dataSource()!.data.length > 0) {
  <div class="col-12 mt-4 show-mob" *ngIf="dataSource() as ds">
    <table
      mat-table
      [dataSource]="ds"
      [class.text-right]="isRtl()"
      multiTemplateDataRows
    >
      <!-- collapsed row -->
      <ng-container matColumnDef="obsTitle">
        <th mat-header-cell *matHeaderCellDef></th>
        <td
          mat-cell
          *matCellDef="let row"
          class="title-td"
          [class.title-td-rtl]="isRtl()"
          [class.rtl-direction]="!isRtl()"
        >
          {{ row.obsTitle }}
        </td>
      </ng-container>

      <!-- expanded detail -->
      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let row"
          class="expanded-td"
          [attr.colspan]="displayedColumnsMob.length"
        >
          <div
            class="row"
            [class.expanded-div-rtl]="isRtl()"
            [class.expanded-div]="!isRtl()"
          >
            <div class="col-12 expanded-content">
              {{ row.reportYear }}
              <span
                [class.sequence-mob-rtl]="isRtl()"
                [class.sequence-mob]="!isRtl()"
              >
                {{ "SEQUENCE" | translate }}: {{ row.obsSequence }}
              </span>
            </div>
          </div>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumnsMob; sticky: true"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumnsMob"
        style="cursor: pointer"
        (click)="navigateTo(row)"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"></tr>
    </table>
  </div>
  }

  <!-- EMPTY / SEARCH PROMPTS -->
  @if (!dataSource()) {
  <div class="row center-block">
    <div class="center mt-5">
      <mat-icon class="center-icon">search</mat-icon>
      <span class="center-text search-obs">
        {{ "PLEASE_SEARCH_OBSERVATIONS" | translate }}
      </span>
    </div>
  </div>
  } @else if (dataSource()!.data.length === 0) {
  <div class="row center-block">
    <div class="center mt-5">
      <mat-icon class="center-icon">cloud_queue</mat-icon>
      <span class="center-text">{{ "NO_DATA" | translate }}</span>
    </div>
  </div>
  }
</mat-card>
