/* You can add global styles to this file, and also import other style files */
.dialog-heading-div {
  padding: 15px 0;
  margin: 0 -24px;
  background: #3253ab;
  color: #fff;
}

.rtl-direction {
  direction: rtl;
}

.text-right {
  text-align: right;
}

.page-title {
  font-size: 18px;
  font-weight: 600;
}

.search-btn {
  margin-top: 0.5rem;
}

.search-btn-mob {
  display: none;
}

@media (max-width: 991px) {
  .search-btn {
    display: none;
  }
  .search-btn-mob {
    display: block;
  }
}

.hide-mob { display: none; }
.show-mob { display: block; }

.expanded-div {
  margin-top: -15px;
  margin-bottom: 10px;
}

.expanded-div-rtl {
  margin-left: 0;
  margin-top: -15px;
  margin-bottom: 10px;
}

.expanded-content {
  display: inline-block;
  width: 250px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.delete-mob {
  position: absolute;
  right: 10px;
}

.download-mob {
  position: absolute;
  right: 10px;
}

.table-container {
  max-height: 300px;
  overflow: auto;
}

.center {
  text-align: center;
}

.center-icon {
  font-size: 48px;
  color: rgba(0, 0, 0, 0.3);
}

.center-text {
  display: block;
  margin-top: 8px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.search-report {
  margin: 0 0 0 -40px;
}

.search-obs {
  margin-left: -70px;
}

.sequence-mob,
.sequence-mob-rtl {
  background: #3f51b5;
  color: #fff;
  font-size: 10px;
  padding: 0 5px;
}

.sequence-mob {
  float: right;
}

.sequence-mob-rtl {
  float: left;
}

.to-date-error {
  position: relative;
  bottom: 12px;
}

.title-td {
  font-weight: 600;
  display: inline-block;
  width: 400px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  margin: 10px 0 0 0;
}

.title-td-rtl {
  margin: 10px 20px 0 0 !important;
}

.expanded-td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.gen-comment-toolbar {
  height: 50px;
  font-size: 15px;
  padding: 0 24px;
}

.w-90 {
  width: 90%;
}

.w-35 {
  width: 35px;
}

/** Minimum width utilities */
.min-w-160 {
  min-width: 160px;
}

.rtl-direction th.mat-header-cell {
  text-align: right !important;
}

.h-120 {
  min-height: 120px;
}

.border-textarea .mat-form-field-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
}

.ml-4 {
  margin-left: 1rem !important;
}

.mr-4 {
  margin-right: 1rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-n3 {
  margin-top: -1rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.w-100 {
  width: 100% !important;
}

@media (max-width: 575px) {
  .title-td {
    width: 150px;
  }

  .expanded-content {
    width: 150px;
  }
}
