/* You can add global styles to this file, and also import other style files */
.dialog-heading-div {
  padding: 15px 0 15px 0px;
  margin: 0 -24px;
  background: #3253ab;
  color: #ffffff;
}

.h-120 {
  min-height: 120px;
}
