.dialog-heading-div {
    padding: 15px 0 15px 0px;
    margin: 0 -24px 0 -24px;
    background: #3253ab;
    color: #ffffff;
}

.gen-comment-toolbar {
  height: 50px;
  font-size: 15px;
  padding: 0 24px;
}
.font-weight-normal{
  font-weight: normal !important;
  color: black;
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
}
.align-icon{
  justify-content: center;
  align-items: center;
  display: flex;
}
.font-weight-600{
  font-weight: 600 ;
}
.w-600{
  max-width: 600px;
}
.font-weight-500{
  font-weight: 500;
  font-size: 15px;
}